.basicinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.2rem;
    flex-wrap: wrap;
    height: 25%;
}
.info{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.picture img{
    width: 150px;
} 
.social-links a{
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
}
.social-links a:hover{
    color: pink;
    cursor: pointer;
}
