.basic-information-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    max-width: fit-content;
    border-radius: 20px;
    box-shadow: inset 0 0 10px rgba(255, 192, 203, 0.5);
}
.basicinfo-name-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.picture img{
    width: 100px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}
.social-links {
    margin-top: 15px;
    display: flex;
    gap: 15px;
    margin-top: 40px;
}
.social-links a{
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease, transform 0.3s ease;
}
.social-links a:hover {
    color: pink;
    transform: scale(1.1);
}
