.stackcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 1.5rem;
}
.heading{
    font-size: 1.5rem;
}
.stackiuse{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.stack-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px;
}
.stack-icon{
    font-size: 2rem;
}