
@media (min-width: 768px) {
  html {
    font-size: 16px; 
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 20px; /* large screens */
  }
}

@media(min-width: 1920px) {
  html {
    font-size: 22px; /* extra large screens */
  }
}