.wrapper{
  display: flex;
  flex-direction: row;
  height: 100%;
}
.basiccontainer {
  font-size: 1.8rem;
   display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  border-right: 2px solid pink;
}
.remainingcontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex: 1;
  padding: 20px;
}