.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
}
.basiccontainer{
  width: 25%;
  overflow-y: scroll;
  height: 100%;
  padding: 2%;
  
  scrollbar-width: none;
}
.remainingcontainer{
  width: 75%;
  height: 100%;
}
@media (max-width: 768px) {
  .wrapper{
    flex-direction: column;
    height: auto;
  }
  body{
    overflow: auto;
  }
  .basiccontainer, .remainingcontainer{
    width: 100%;
    height: auto;
  }
}
@media (min-width: 1660px) {
  .basiccontainer{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
}