body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.wrapper{
  display: flex;
  flex-direction: row;
}
.basiccontainer {
  font-size: 1.8rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  width: fit-content;
  height: 100vh;
  border-right: 2px solid pink;
}
.remainingcontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex: 1;
  padding: 20px;
}